api:
  insecure: true
  dashboard: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

entryPoints:
  web:
    address: ":80"
    forwardedHeaders:
      insecure: true
  grpc:
    address: ":7000"

log:
  level: DEBUG